<mat-card class="post-comments">
  <mat-card-header>
    <mat-card-title>{{ comment.name }} | {{ comment.email }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ comment.body }}
    </p>
  </mat-card-content>
</mat-card>
