<mat-card class="post-form" [formGroup]="postForm">
  <mat-card-header>
    <mat-card-title>Create a new Post</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field>
        <input matInput formControlName="title" placeholder="Post Title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="body" placeholder="Content"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>User</mat-label>
        <mat-select formControlName="userId">
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{ user.name }} | {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="create()">Create</button>
  </mat-card-actions>
</mat-card>
