<mat-card class="post-detail" *ngIf="post">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ user.name }} | {{ user.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ post.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="loadComments()">View Comments</button>
    <button mat-button (click)="delete(post.id)">Delete</button>
  </mat-card-actions>
</mat-card>
<boin-post-comment *ngFor="let comment of comments" [comment]="comment"></boin-post-comment>


