<mat-card>
  <mat-card-content>
      <mat-form-field>
      <mat-label>User</mat-label>
      <mat-select (selectionChange)="filterPostsByUser($event)">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.name }} | {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card class="posts" *ngFor="let post of posts">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ post.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="[post.id]">View Detail</button>
    <button mat-button (click)="delete(post.id)">Delete</button>
  </mat-card-actions>
</mat-card>
